# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ======================
# Virtual Environment
# ======================
venv/
.env/
env/

# ======================
# Environment Variables
# ======================
.env
.env.*
*.env

# ======================
# Vectorstore / FAISS
# ======================
vectorstore/
*.pkl
*.index

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE Files
# ======================
.vscode/
.idea/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/